HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### OS Specific ###
.DS_Store
Thumbs.db
*.swp

### IDE - VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### IDE - IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### IDE - STS/Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

### Project Specific ###
*.env
*.local
node_modules/
dist/