DB_HOST=192.168.63.131
DB_PORT=5432
POSTGRES_DB=auth
POSTGRES_SCHEMA=auth
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123.
NAME_ADMIN=admin
PASSWORD_ADMIN=admin123.
EMAIL_ADMIN=
DDL_AUTO=update # Verifique no Hibernate
APP_PORT=
JWT_SECRET= # Tem que ser um Base64
JWT_EXPIRATION=
REFRESH_EXPIRATION=