# ===============================
# APP
# ===============================
APP_PORT=8080

# ===============================
# JWT (Base64 válido - 256 bits)
# ===============================
JWT_SECRET=bXlfc3VwZXJfc2VjdXJlX2tleV9mb3Jfand0X3NpZ25pbmc=
JWT_EXPIRATION=900000
REFRESH_EXPIRATION=604800000

# ===============================
# MONGODB
# ===============================
DB_URI=mongodb://admin:admin123.@localhost:27017/auth?authSource=admin

# ===============================
# ADMIN DEFAULT (seed)
# ===============================
NAME_ADMIN=admin
EMAIL_ADMIN=admin@auth.com
PASSWORD_ADMIN=admin123.