# Build
.gradle/
build/
bin/
out/
!gradle/wrapper/gradle-wrapper.jar

# Environment
*.env
*.local

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.settings/
.classpath
.project

auth/src/main/resources/static/*
!auth/src/main/resources/static/.gitkeep